@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #707070;
  border-right: none;
  padding: 5px 5px 5px 20px;
  height: 36px;
  font-style: italic;
  font-weight: lighter;
  font-size: small;
  border-radius: 7px 0 0 7px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 50%;
}
table {
  border-collapse:separate;
  border-spacing: 0 1em;
  margin-top: -10px;
  width: 100%;

}
input[type="text"],button:focus{
  outline: none !important;
  box-shadow:none !important;
}

.delete:hover{
  background-color: tomato;
}
td {
  border: 0.5px solid #707070;
  padding: 3px 3px 3px 40px;
  font-size: small;
  width: 40%;
  color: #3B4557;
}

th {
  border: 0.5px solid #707070;
  padding: 5px 5px 5px 40px;
  width: 40%;
  font-size: large;
  background-color: lightgoldenrodyellow;
  color: #3B4557;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}
th:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
th:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}
table td.cell1{
  border-right:none;
  }
  table td.cell2{
    border-right:none;
    border-left:none;
    }
    table td.cell3{
      border-left:none;
      }
      table th.cell1{
        border-right:none;
        }
        table th.cell2{
          border-right:none;
          border-left:none;
          }
          table th.cell3{
            border-left:none;
            }